#name{
	margin-top:-20px;	
	height:120px;	
	background:#ffffff;	
	}
	#name ul li{
	list-style: none;	
	}
	#name ul li a{
	text-decoration: none;
	color:#000000;
	float: left;	
	margin-left:150px;
	margin-top:60px;
	}
	#name ul li #vv{
	color:orangered;	
	}
	#name #demo a{
	position: absolute;	
	margin-left:-935px;
	text-decoration: none;
	margin-top:30px;
	font-size:35px;
	color: #458acf;
	
	}
	#nav p{
	position: absolute;	
	margin-left:1150px;
	margin-top:55px;	
	}
	#number img{
	margin-top:50px;	
	margin-left:0px;	
	}	
	#number h1{
	margin-left:400px;	
	color:#FFFFFF;
	margin-top:-500px;
	font-size:100px;	
	}
	#number h2{
	margin-top:-80px;	
	font-size:50px;	
	color:#FFFFFF;
	margin-left:400px;	
	}
	#number h3{
	font-size:20px;	
	color:orangered;	
	margin-top:-160px;	
	margin-left:1200px;	
	}
	#number h4{
	font-size:20px;		
	color:orangered;	
	margin-left:1200px;	
	}
	#Get{
	margin-left:150px;	
	margin-top:400px;	
	}
	#Get a{
	margin-left:50px;	
	color:#000000;
	text-decoration: none;	
	}
	#Get a:hover{
	color:orangered;	
	}
	#Get #zz{
	color:orangered;	
	}
	#get img{
	margin-top:100px;	
	margin-left:200px;	
	}
	#get p{
	margin-top:-280px;	
	margin-left:800px;
	font-size:20px;	
	}
	#get a{
	text-decoration: none;
	color:#FFFFFF;
	background: orangered;
	margin-left:10px;	
	}
	#get h5{
	margin-left:800px;
	color:orangered;	
	}
	#get h4{
	margin-left:800px;
	margin-top:40px;
	}
	#qq img{
	margin-top:100px;
	margin-left:200px;	
	}
	#qq p{
	margin-top:-280px;	
	margin-left:800px;
	font-size:20px;	
	}
	#qq a{
	text-decoration: none;
	color:#FFFFFF;
	background: orangered;
	margin-left:10px;	
	}
	#qq h5{
	margin-left:800px;
	color:orangered;	
	}
	#qq h4{
	margin-left:800px;
	margin-top:40px;
	}
	
	#ww img{
	margin-top:100px;
	margin-left:200px;	
	}
	#ww p{
	margin-top:-280px;	
	margin-left:800px;
	font-size:20px;	
	}
	#ww a{
	text-decoration: none;
	color:#FFFFFF;
	background: orangered;
	margin-left:10px;	
	}
	#ww h5{
	margin-left:800px;
	color:orangered;	
	}
	#ww h4{
	margin-left:800px;
	margin-top:40px;
	}
	
	#uzi img{
	margin-top:100px;
	margin-left:200px;	
	}
	#uzi p{
	margin-top:-280px;	
	margin-left:800px;
	font-size:20px;	
	}
	#uzi a{
	text-decoration: none;
	color:#FFFFFF;
	background: orangered;
	margin-left:10px;	
	}
	#uzi h5{
	margin-left:800px;
	color:orangered;	
	}
	#uzi h4{
	margin-left:800px;
	margin-top:40px;
	}
	
	
	
	
	
	
	#mm img{
	margin-top:100px;
	margin-left:200px;	
	}
	#mm p{
	margin-top:-280px;	
	margin-left:800px;
	font-size:20px;	
	}
	#mm a{
	text-decoration: none;
	color:#FFFFFF;
	background: orangered;
	margin-left:10px;	
	}
	#mm h5{
	margin-left:800px;
	color:orangered;	
	}
	#mm h4{
	margin-left:800px;
	margin-top:40px;
	}
	hr{
	margin-top:300px;	
	}
	#ee{
	margin-left:200px;	
	}
	#ee h1{
	font-size:30px;
	}
	#ee img{
	width: 200px;
	height:200px;	
	}
	#oo{
	margin-top:-200px;	
	}
	#oo h2{	
	margin-left:280px;	
	}